<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <span>{{message}}</span>
        {% endfor %}
    {% endif %}
    <table border="1">
        <tr>
            <th>SN</th>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for blog in blogs %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{blog.title}}</td>
                <td><img src="{{blog.image.url}}" alt="" width="150px;" height="150px;"></td>
                <td>{{blog.description}}</td>
                <td>
                    <a href="{% url "blogs.update" blog.pk %}">Update</a>
                    <form action="{% url "blogs.delete" blog.pk %}" method="post" onSubmit="return confirm('Are you sure you want to delete this?')">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                    <a href="{% url "blogs.detail" blog.pk %}">Detail</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>