<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Id</th>
            <td>{{singleblog.id}}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{singleblog.title}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{singleblog.description}}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{singleblog.image.url}}" alt="" width="150px" height="100px"></td>
        </tr>
    </table>
</body>
</html>