<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        ul{
            list-style-type: none;
            margin:2.2px;
        }
    </style>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.label}}">{{field.label}}</label>
            <input type="{{field.field.widget.input_type}}" class="form-control" name={{field.name}} value={{field.value}}>
            {% if field.errors %}
                <span style="color:red;">{{field.errors}}</span>
            {% endif %}
                <div>
                    {% if field.field.widget.input_type == 'file' %}
                    <img src="{{field.value.url}}" alt="" width="150px" height="150px">
                    {% endif %}
                </div>
        </div>
        {% endfor %}
        <input type="submit" value="Update">
    </form>
</body>
</html>